@media screen and (max-width: 1199px) {
  body {
  }
}

@media screen and (max-width: 767px) {
  html {
    // width: 755px;
  }

  body {
    .box_main_img img {
      width: 350px;
      height: 250px;
    }

    .box_consulting_top {
      width: 100%;
    }

    .img_consuting_top {
      height: 500px;
    }

    .title_head_consulting {
      width: 100%;
      font-size: 20px;
      margin-bottom: 0px;
    }

    .box_consulting_logo {
      margin-top: 120px;
      margin-bottom: 40px;
    }

    .title_sub_head_consulting {
      font-size: 40px;
      margin-bottom: 50px;
    }
    .box_main_img {
      height: 0px;
      bottom: 8%;
    }

    .box_main_content {
      padding-top: 150px;
    }

    .text_main_content {
      font-size: 13px;
    }

    .box_title_main_content {
      width: 350px;
      height: 250px;
    }

    .box_img_main_content {
      // display: block;
      // width: 100%;
      gap: 10px;
      width: 300px;
      margin-top: 200px;
    }

    .img_benefit_content{
      height: 100%;
      object-fit: contain;
    }

    .title_reservation_rate {
      width: 100%;
    }

    .title_visitor {
      width: 100%;
    }

    .box_point_one {
      display: block;
      height: 100%;
    }

    .box_img_point_one {
      width: 100%;
      height: 400px;
    }

    .box_img_point_one img {
      width: 100%;
      height: 100%;
    }

    .box_icon_point_one {
      margin: 0 auto;
      width: 300px;
      height: 100%;
    }

    .box_img_icon_point_one {
      display: flex;
      justify-content: center;
    }

    .img_icon_point_one {
      width: 150px;
      height: 100%;
    }

    .title_point_one {
      font-size: 20px;
      text-align: center;
    }

    .text_point_one {
      padding-bottom: 40px;
      font-size: 15px;
      text-align: center;
    }

    .box_point_two {
      margin-left: 0px;
    }

    .box_icon_point_two {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    .box_img_icon_point_two {
      display: flex;
      justify-content: center;
    }

    .div_img_point_two {
      display: block;
    }

    .text_point_two {
      font-size: 15px;
      text-align: center;
      padding: 0 16px;
      word-break: keep-all;
    }

    .box_remodeling_before {
      width: 100%;
      padding: 0 10%;
    }

    .img_remodeling_before {
      width: 100%;
      object-fit: cover;
      height: 336px;
    }

    .img_remodeling_after{
      width: 100%;
      object-fit: contain;
      height: auto;
    }
    .box_remodeling_after {
      width: 100%;
      height: 100%;
    }

    .container_img_stay {
      // display: block;
      gap: 10px;
    }

    .box_bg_benefit {
      position: relative;
    }

    .img_bg_benefit {
      height: 2490px;
    }

    .container_benefit_content {
      display: block;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      // top: 140%;

    }

    .div_benefit_content {
      width: 100%;
      padding: 10px 0;
      box-sizing: border-box;
      margin-bottom: 20px;
      height: 800px;;
    }

    .container_contact {
      display: block;
    }

    .div_img_contact {
      width: 100%;
      display: none;
    }

    .img_contact_us {
      width: 100%;
    }

    .text_remodeling_after {
      margin-left: 0;
    }

    .div_contact_content {
      margin-left: 0;
      // width: 100%;
      width: 100%;
      margin: 0 auto;
      padding-top: 50px;
    }

    .div_contact_text {
      width: 100%;
      margin-left: 0px;
    }

    .div_contact_foreword {
      font-size: 15px;
    }

    .title_contact_input {
      width: 100px;
    }

    .title_contact_us {
      font-size: 20px;
    }

    .div_inquiry_details {
      justify-content: flex-start;
    }

    .btn_consulting_contact_us {
      width: 100%;
    }

    .container_badge_point {
      display: flex;
      justify-content: center;
    }

    .box_text_remodeling {
      justify-content: center;
    }

    .text_remodeling_before {
      margin-left: 0p;
    }

    .img_stay {
      width: 100%;
      height: 100%;
    }
  }
}

.container_consulting {
  .box_content_point {
    display: flex;
    height: 640px;
    background: #ffffff;
  }

  .box_img_content_point {
    width: 750px;
    height: 520px;
    margin: 60px 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  .box_img_content_point img {
    width: 750px;
    height: 520px;
  }

  .box_content_point {
    height: 340px;
    margin: 150px 0 150px 100px;
  }
}

.img_consuting_top {
  width: 100%;
}

.box_consulting_top {
  width: 540px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.box_consulting_logo {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 80px;
}

.box_consulting_logo img {
  width: 100%;
  height: 100%;
}

.title_head_consulting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.title_sub_head_consulting {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 700;
  color: #162318;
  margin-bottom: 80px;
}

.btn_contact_us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 42px;
  background: #162318;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
}
.box_main_img {
  display: flex;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -40%);
  margin: auto;
}

.box_main_img img {
  border-radius: 15px;
}

.box_main_content {
  padding-top: 400px;
  margin: auto;
}

.box_title_main_content {
  width: 1200px;
  margin: auto;
}

.title_main_content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #162318;
}

.text_main_content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  font-weight: 300;
  margin-top: 80px;
  line-height: 30px;
  margin-bottom: 20px;
}

.text_sub_main_content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
}

.box_img_main_content {
  display: flex;
  // width: 500px;
  width: 100%;
  margin: auto;
  gap: 60px;
  justify-content: center;
}

.box_reservation_rate {
  width: 220px;
  height: 260px;
  background: #ffffff;
  border-radius: 15px;
}

.box_img_reservation_rate {
  width: 95px;
  height: 75px;
  margin: auto;
  margin-top: 30px;
}

.box_img_reservation_rate img {
  width: 95px;
  height: 75px;
}

.title_reservation_rate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}

.text_reservation_rate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: #2b7638;
  margin-top: 20px;
}

.box_visitor {
  width: 220px;
  height: 260px;
  background: #ffffff;
  border-radius: 15px;
}

.box_img_visitor {
  width: 84px;
  height: 96px;
  margin: auto;
  margin-top: 20px;
}

.box_img_visitor img {
  width: 84px;
  height: 96px;
}

.title_visitor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}

.text_visitor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: #2b7638;
  margin-top: 20px;
}

.title_main_content_bot {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #162318;
  margin: 100px 0 80px 0;
}

.box_point_one {
  display: flex;
  height: 640px;
  background: #ffffff;
}

.box_img_point_one {
  width: 750px;
  height: 520px;
  margin: 60px 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.box_img_point_one img {
  width: 750px;
  height: 520px;
}

.box_icon_point_one {
  height: 340px;
  margin: 150px 0 150px 100px;
}

.img_icon_point_one {
  width: 200px;
  height: 140px;
}

.box_badge_point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 24px;
  background: #203d1e;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.title_point_one {
  font-size: 30px;
  font-weight: 600;
  color: #162318;
  margin-bottom: 20px;
}

.text_point_one {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 10px;
}

.box_point_two {
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

.box_icon_point_two {
  padding-top: 100px;
}

.img_icon_point_two {
  width: 100px;
  height: 140px;
}

.text_point_two {
  font-size: 19px;
  font-weight: 300;
  color: #162318;
  margin-bottom: 80px;
}

.div_img_point_two {
  display: flex;
}

.box_remodeling_before {
  // width: 420px;
  // height: 400px;
  // box-shadow: 5px 0 3px rgba(0, 0, 0, 0.3);
  margin-right: 40px;
}

.img_remodeling_before {
  width: 420px;
  height: 415px;
  border-radius: 13px;
  box-shadow: 5px 0 3px rgba(0, 0, 0, 0.3);
}

.box_remodeling_after {
  // height: 400px;
}

.img_remodeling_after {
  width: 100%;
  height: 415px;
}

.box_text_remodeling {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
}

.text_remodeling_before {
  margin-left: 30px;
}

.text_remodeling_after {
  // margin-left: 400px;
}

.container_how_to_build {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 50px;
}

.box_how_to_build {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.box_img_how_to_build {
  margin: auto;
  width: 220px;
  height: 140px;
}

.img_how_to_build {
  width: 220px;
  height: 140px;
}

.box_badge_how_to_build {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  background: #203d1e;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 30px auto;
}

.title_how_to_build {
  font-size: 30px;
  font-weight: 600;
  color: #162318;
  margin-bottom: 20px;
  text-align: center;
}

.text_how_to_build {
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

.btn_more_stay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid;
  font-size: 18px;
  font-weight: 500;
  color: #162318;
  margin: auto;
  margin-bottom: 50px;
}

.container_img_stay {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.box_img_stay {
}

.img_stay {
  width: 300px;
  height: 460px;
}

.container_benefit {
}

.box_benefit {
  position: relative;
}

.box_bg_benefit {
}

.img_bg_benefit {
  width: 100%;
  height: 850px;
}

.container_benefit_content {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div_benefit_content {
  width: 300px;
  height: 740px;
  background: #ffffff;
  border-radius: 15px;
}

.div_benefit_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  background: #203d1e;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin: 30px auto;
}

.title_benefit_content {
  font-size: 30px;
  font-weight: 300;
  color: #162318;
  text-align: center;
  margin-bottom: 10px;
}

.sub_title_benefit_content {
  font-size: 30px;
  font-weight: 600;
  color: #162318;
  text-align: center;
}

.div_img_benefit_content {
  // width: 315px;
  height: 425px;
  margin: 20px auto;
}

.img_benefit_content {
  width: 100%;
  height: 425px;
}

.text_benefit_content {
  text-align: center;
  line-height: 30px;
}

.container_contact {
  display: flex;
  padding-top: 20px;
  padding-bottom: 100px;
}

.div_img_contact {
  width: 650px;
  height: 1000px;
}

.img_contact_us {
  width: 650px;
  height: 1000px;
}

.div_contact_content {
  padding-top: 150px;
  max-width: 700px;
  margin-left: 50px;
}

.div_contact_foreword {
  font-size: 19px;
  font-weight: 300;
  color: #162318;
}

.div_title_contact {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title_contact_us {
  font-size: 50px;
  font-weight: 700;
  color: #162318;
}

.div_contact_name {
  display: flex;
  align-items: center;
  height: 70px;
  background: #ffffff;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 19px;
  font-weight: 500;
}

.div_contact_text {
  height: 40px;
  border: none;
  border-radius: 15px;
  width: 500px;
  height: 50px;
  margin-left: 15px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 15px;
    font-weight: 300;
    color: #c8cdc6;
  }

  &:focus {
    outline: none;
  }
}

.div_contact_text::placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #c8cdc6;
}

.div_contact_phone {
  display: flex;
  align-items: center;
  height: 70px;
  background: #ffffff;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 19px;
  font-weight: 500;
  margin: 20px 0;
}

.container_inquiry_details {
  height: 300px;
  background: #ffffff;
  border-radius: 15px;
  padding-left: 20px;
  font-size: 19px;
  font-weight: 500;
}

.div_inquiry_details {
  display: flex;
  align-items: center;

  height: 50px;
}

.btn_consulting_contact_us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 54px;
  background: #203d1e;
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

.btn_consulting_contact_us:hover {
  background: #162318;
}
