//767

@media screen and (max-width: 767px) {
  html {
    // width: 755px;
  }

  body {
    .header_continer {
      position: absolute;
      // width: 755px;
      // width: 100%;
      // position: sticky;
      top: 0;
      /* background-color: #162318;
          opacity: 0.5; */
      z-index: 10;
    }

    .navbar_container {
      // position: fixed;
      // width: 1920px;
      width: 100%;
      background: rgba(22, 35, 24, 0.5);
      height: 97px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .navbar_div {
      display: none;
    }

    .footer_container {
      height: 100%;
    }

    .footer_content_container {
      display: flex;
      justify-content: center;
      padding: 35px;
      flex-direction: column;
    }

    .footer_content_1 {
      order: 2;
      margin-top: 22px;
    }

    .footer_content_2 {
      margin-left: 0px;
      order: 1;
    }

    .footer_title {
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .small_bold_letter {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .thine_letter {
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .detail_main_container {
      width: 100%;
      padding: 0;
    }

    .detail_banner_div {
      width: 100%;
    }

    .detail_partner_store_container {
      padding: 0 50px;
      padding-top: 80px;
    }

    .english_name_container {
      font-size: 15px;
      // font-weight: 300;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .korean_name_container {
      display: block;
      align-items: center;
      margin-bottom: 20px;
    }

    .korean_name_title {
      font-size: 30px;
      font-weight: 700;
      color: #ffffff;
    }

    .reservation_status_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 350px;
      width: 100%;
      height: 37px;
      border: 1px solid #ffffff;
      border-radius: 4px;
      color: #ffffff;
      margin-left: 0px;
      padding: 6px;
      margin-top: 10px;
      box-sizing: border-box;
    }

    .partner_store_description_container {
      font-size: 13px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 20px;
    }

    .main_our_stay_container {
      margin: auto;
      margin-top: 40px;
    }

    .main_our_stay_title_container {
      margin-bottom: 50px;
      padding: 0 41px;
      display: block;
    }

    .main_out_stay_hotelList_div {
      display: flex;
      margin-left: 0px;
      margin-top: 10px;
      font-size: 19px;
      font-weight: 300;
      color: #162318;
      align-items: center;
    }

    .main_our_stay_content_container {
      display: flex;
      gap: 45px;
      flex-wrap: wrap;
      margin-bottom: 45px;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .main_banner_ctn {
      width: 100%;
      height: 500px;
    }

    .main_banner_img {
      height: 557px;
      object-fit: cover;
    }

    .slider_container {
      height: 600px;
      margin: auto;
      border-radius: 15px;
      margin-top: 70px;
      padding: 0 36px;
    }

    .slider_container img {
      width: 100%;
      height: 500px;
      border-radius: 15px;
      object-fit: cover;
    }

    .banner_container {
      display: block;
    }

    .detail_slider_container {
      width: 100%;
      height: 500px;
      margin: auto;
      border-radius: 15px;
      // padding: 0 36px;
    }

    //[예약정보]
    .reservation_info_container {
      display: flex;
      width: 100%;
      height: 450px;
      background: #ffffff;
    }

    .reservation_info_div {
      display: block;
      width: 1100px;
      margin: auto;
      gap: 25px;
      padding: 0px 30px;
    }

    .reservation_info_item_input {
      display: flex;
      align-items: center;
      // width: 250px;
      width: 100%;
      height: 55px;
      border: 1px solid #203d1e;
      border-radius: 7px;
      font-size: 18px;
      font-weight: 600;
      color: #203d1e;
      padding-left: 20px;
      z-index: 1;
      box-sizing: border-box;
    }

    .reservation_info_item_btn_div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .reservation_info_item_btn_div a {
      width: 100%;
    }

    .reservation_info_item_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 55px;
      border: 1px solid #203d1e;
      border-radius: 7px;
      background: #203d1e;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      // margin-top: 36px;
    }

    .slick-prev {
      left: 6% !important;
    }

    .slick-next {
      right: 6% !important;
    }

    .slick-slide img {
      border-radius: 0px !important;
    }

    //[공지사항]
    .notice_container {
      width: 100%;
      height: 205px;
      margin-top: 402px;
    }

    .notice_container_div {
      margin-top: 0px;
      background: #203d1e;
      padding: 14px 30px;
    }

    .notice_content {
      margin-left: 0px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
    }

    .notice_content_date {
      margin-left: 0px;
    }

    //[스토리]
    .story_container {
      display: block;
      justify-content: center;
      align-items: center;
      // width: "1920px",
      background: #f6f5f1;
      // margin-top: 288px;
    }

    .story_img_container {
      width: 100%;
      height: 450px;
      margin-bottom: 15px;
    }

    .story_img_container img {
      width: 100%;
      height: 450px;
      margin-bottom: 15px;
      object-fit: cover;
    }

    .story_content_container {
      margin-top: 50px;
      margin-left: 0px;
      padding: 0 55px;
    }

    .story_content_haed_title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 60px;
    }

    .story_item_title {
      font-size: 19px;
      font-weight: 300;
      margin-bottom: 30px;
      line-height: 30px;
    }

    .story_item_content {
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 50px;
      line-height: 20px;
    }

    //[특징]
    .feature_container {
      position: absolute;
      top: 80px;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
    }

    .feature_container_div {
      display: flex;
      width: 100%;
      // height: 150px;
      height: 100%;
      margin: auto;
      border-radius: 15px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.75);
      // opacity: "0.7",
    }

    .feature_container_div3 {
      display: flex;
      width: 100%;
      // height: 150px;
      margin: auto;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.75);
      // opacity: "0.7",
    }

    .feature_item_div {
      display: flex;
      // width: 900px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
    }

    .feature_item_title_container {
      width: 100px;
      padding: 8px;
    }

    .feature_item_title_div {
      display: flex;
      align-items: center;
      // justify-content: center;
      justify-content: flex-start;
      font-size: 20px;
      font-weight: 700;
      color: #203d1e;
      margin-top: 15px;
      text-align: center;
    }

    .feature_item_title_badge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 22px;
      font-size: 12px;
      background: #203d1e;
      border-radius: 4px;
      color: #ffffff;
      // margin: auto;
    }

    //[관광지]
    .tourist_spot_item_div {
      display: flex;
      width: 100%;
      height: 80px;
      gap: 15px;
    }

    .feature_item_content_div {
      width: 100%;
      font-size: 13px;
      font-weight: 200;
      line-height: 30px;
    }

    .feature_item_content_container {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 100%;
    }

    .tourist_spot_container {
      width: 350px;
      margin: auto;
      margin-top: 100px;
    }

    .tourist_spot_map_container {
      width: 100%;
      height: 400px;
      background: #d9d9d9;
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 50px;
    }

    .tourist_spot_item_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 130px;
      gap: 10px;
    }

    .tourist_spot_item_content_div {
      width: 100%;
    }

    .tourist_spot_content_container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    //[연락처]
    .partenrs_store_contact_container {
      display: block;
      width: 250px;
      height: 67px;
      margin: auto;
      gap: 40px;
      padding: 30px 0;
    }

    .partenrs_store_contact_container_div {
      display: flex;
    }

    .partenrs_store_contact_content_container {
      font-size: 15px;
      font-weight: 700;
      color: #162318;
    }

    .mr-b-15 {
      margin-bottom: 15px;
    }

    .mr-b-25 {
      margin-bottom: 25px;
    }
  }
}

//미디어쿼리 끝

//HEADER

.header_continer {
  position: absolute;
  width: 100%;
  // width: 100%;
  // position: sticky;
  top: 0;
  /* background-color: #162318;
    opacity: 0.5; */
  z-index: 10;
}

.navbar_container {
  // position: fixed;
  // width: 1920px;
  width: 100%;
  background: rgba(22, 35, 24, 0.5);
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//FOOTER
.footer_container {
  height: 280px;
}

.footer_content_container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bold_letter {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer_content_2 {
  margin-left: 600px;
}

.footer_title {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 25px;
}

.small_bold_letter {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
}

.thine_letter {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #ffffff;
}

//MAIN
.main_container {
  // width: 100vw;
  margin: auto;
}

.main_banner_ctn {
  width: 100%;
  height: 845px;
}

.main_banner_img {
  width: 100%;
  height: 845px;
  object-fit: cover;
}

.main_our_stay_container {
  margin: auto;
  margin-top: 150px;
}

.main_our_stay_title_container {
  display: flex;
  margin-bottom: 50px;
  padding: 0 370px;
}

.main_out_stay_hotelList_div {
  display: flex;
  margin-left: 30px;
  font-size: 19px;
  font-weight: 300;
  color: #162318;
  align-items: center;
}

.main_our_stay_content_container {
  display: flex;
  gap: 45px 3%;
  flex-wrap: wrap;
  margin-bottom: 150px;
  justify-content: center;
  padding: 0px 200px;
}

.slider_container {
  height: 600px;
  margin: auto;
  border-radius: 15px;
  margin-top: 100px;
  padding: 0 370px;
}

.slider_content_container {
  border-radius: 15px;

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .slick-dots {
    li button {
      &:before {
        color: #203d1e; /* dots 색상 변경 */
        font-size: 22px !important; /* dots 크기 변경 */
        margin-top: 25px;
      }
    }
  }

  .slick-prev,
  .slick-next {
    display: none;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; */
    /* left 또는 right 값으로 위치 조정 */
  }

  .slick-prev {
    left: -50px; /* 좌측 여백 조정 */
  }

  .slick-next {
    right: -50px; /* 우측 여백 조정 */
  }
}

.slider_container img {
  width: 100%;
  height: 600px;
  border-radius: 15px;
  object-fit: cover;
}

.slick-slide img {
  margin: 0px;
  width: 100%;
}

.out_stay_container {
  width: 370px;
  height: 350px;
  border: 1px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.our_stay_content_container {
  display: flex;
  width: 300px;
  margin: auto;
  justify-content: space-between;
}

.our_stay_content_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  width: 74px;
  height: 27px;
  border: 0.5px solid #000000;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
}

//DETAIL
.detail_main_container {
  width: 100%;
  // padding: 0 250px;
}

// .detail_banner_container {
//   margin: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.banner_container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_slider_container {
  width: 1200px;
  height: 500px;
  border-radius: 15px;
}

.detail_partner_store_container {
  padding: 0 250px;
  padding-top: 80px;
}

.english_name_container {
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 20px;
}

.korean_name_container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.korean_name_title {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.reservation_status_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 22px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 50px;
}

.partner_store_description_container {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 20px;
}

//[예약정보]
.reservation_info_container {
  display: flex;
  width: 1200px;
  height: 130px;
  background: #ffffff;
}

.reservation_info_div {
  display: flex;
  width: 1100px;
  margin: auto;
  gap: 25px;
}

.reservation_info_item_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 36px;
}

.reservation_info_item_input {
  display: flex;
  align-items: center;
  width: 250px;
  height: 55px;
  border: 1px solid #203d1e;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  color: #203d1e;
  padding-left: 20px;
  z-index: 1;
}

.reservation_info_item_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation_info_item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 55px;
  border: 1px solid #203d1e;
  border-radius: 7px;
  background: #203d1e;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 36px;
}

//[스토리]
.story_container {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: "1920px",
  background: #ffffff;
}

.story_img_container {
  width: 800px;
  height: 450px;
  margin-bottom: 15px;
}

.story_content_container {
  margin-top: 50px;
  margin-left: 150px;
}

.story_content_haed_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
}

.story_item_title {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 30px;
}

.story_item_content {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 20px;
}

//[특징]
.feature_container {
  position: absolute;
  top: 80px;
  // width: 100%;
}

.feature_container_div {
  display: flex;
  width: 1200px;
  height: 150px;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.75);
  // opacity: "0.7",
}

.feature_container_div3 {
  display: flex;
  width: 1200px;
  height: 150px;
  margin: auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.75);
  // opacity: "0.7",
}

.feature_item_div {
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: space-between;
}

.feature_item_title_container {
  // width: 100px;
}

.feature_item_title_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 22px;
  background: #203d1e;
  border-radius: 4px;
  color: #ffffff;
  // margin: auto;
}

.feature_item_title_div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: #203d1e;
  margin-top: 15px;
}

.feature_item_content_container {
  display: flex;
  align-items: center;
}

.feature_item_content_div {
  width: 480px;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
}

//[관광지]
.tourist_spot_container {
  width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.tourist_spot_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  font-size: 30px;
  font-weight: 700;
}

.tourist_spot_sub_container {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 16px;
  gap: 5px;
}

.tourist_spot_map_container {
  width: 1200px;
  height: 400px;
  background: #d9d9d9;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}

.tourist_spot_content_container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.tourist_spot_item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 130px;
  gap: 10px;
}

.tourist_spot_item_div {
  display: flex;
  width: 400px;
  height: 80px;
  gap: 15px;
}

.tourist_spot_no_div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  width: 40px;
  height: 40px;
  border: 1px solid #c2bfb3;
  border-radius: 50px;
}

.tourist_spot_item_content_div {
  width: 325px;
}

.tourist_spot_item_content_title {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tourist_spot_item_content_title_div {
  font-size: 16px;
  font-weight: 700;
}

.tourist_spot_item_content_title_div2 {
  font-size: 16px;
  font-weight: 400;
  color: #747474;
}

.tourist_spot_item_content_content {
  line-height: 20px;
}

//[연락처]
.partenrs_store_contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100px;
  margin: auto;
  gap: 40px;
  padding: 30px 0;
}

.partenrs_store_contact_container_div {
  display: flex;
}

.partenrs_store_contact_content_container {
  font-size: 25px;
  font-weight: 300;
  color: #162318;
  margin-right: 13px;
}

.mr-t-50 {
  margin-top: 50px;
}

.notice_container_div {
  margin-top: 110px;
}

.notice_container_div :nth-child(4) {
  margin-bottom: 55px !important;
}

.notice_container_div :nth-child(4) > :nth-last-child(1) {
  display: none;
}

.notice_title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.notice_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 56px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.notice_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 15px;
}

.notice_content_container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-bottom: 10px;
}

.notice_content {
  margin-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1000px;
  overflow: hidden;
}

.notice_content_date {
  margin-left: 30px;
}

.notice_content_line {
  height: 1px;
  background: #ffffff;
}

//[Reservation]
.reservation_containter {
  display: flex;
  padding-bottom: 80px;
  width: 100%;
}

.reservation_left_container {
  display: flex;
  // width: 600px;
  height: 1100px;
  position: relative;
  width: 34%;
}

.reservation_left_container_background {
  width: 100%;
  height: 1100px;
  object-fit: cover;
}

.reservation_left_item_container {
  position: absolute;
  top: 200px;
  /* left: 85px; */
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 0 42px;
  box-sizing: border-box;
}

.reservation_calendar_container {
  margin: auto;
  padding: 0 120px;
}

.date_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
}

.date_title {
  font-size: 16px;
  font-weight: 300;
  color: #203d1e;
  margin-left: 0px;
  width: 26%;
  text-align: center;
}

.date_input {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 330px;
  width: 70%;
  height: 55px;
  border: 1px solid #203d1e;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #203d1e;
}

.calendar_title_container {
  display: flex;
  width: 140px;
  height: 58px;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-top: 50px;
}

.calendar_item_container {
  width: 100%;
  height: 580px;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 25px;
}

.reservation_right_container {
  width: 66%;
}

.room_container {
  width: 60%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 10px;
}

.room_title {
  display: flex;
  width: 140px;
  height: 58px;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

.room_image_container {
  position: relative;
  // width: 380px;
  width: 40%;
  height: 250px;
  // margin-right: 60px;
}
.room_image_container img {
  width: 100%;
  height: 250px;
}

.room_image_div {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }
}

.room_detail_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}
