@media screen and (max-width: 1199px) {
  body {
  }
}

@media screen and (max-width: 767px) {
  html {
    // width: 755px;
  }

  body {
    .wrap_login {
      width: 100%;
      padding: 0 20px;
      padding-top: 100px;
      box-sizing: border-box;
    }

    .section_login {
      width: 100%;
    }

    .btn_login {
      width: 100%;
    }

    .btn_kakao {
      width: 100%;
    }

    .btn_reservation_non_member {
      width: 100%;
    }
  }
}

.container_login {
  height: 100%;
  background: #f6f5f1;
}

.wrap_login {
  width: 500px;
  height: 700px;
  margin: auto;
  padding-top: 100px;
}

.header_title_login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 150px;
  font-size: 50px;
  font-weight: 700;
  color: #162318;
}

.section_sign_in {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.inner_sign_in {
}

.section_btn {
}

.btn_sign_in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 82px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #162318;
  cursor: pointer;
}

.inner_find_account {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
  color: #162318;
}

.btn_find_account {
  font-size: 18px;
  font-weight: 300;
  color: #162318;
  cursor: pointer;
}

.btn_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 52px;
  border-radius: 15px;
  background: #203d1e;
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
  cursor: pointer;
}

.btn_kakao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 52px;
  border-radius: 15px;
  background: #fee500;
  margin-bottom: 15px;
  cursor: pointer;
}

.img_btn_kakao {
  width: 20px;
  height: 18px;
}

.title_kakao_login {
  font-size: 18px;
  margin-left: 10px;
}

.btn_reservation_non_member {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 52px;
  font-size: 18px;
  border-radius: 15px;
  background: #c2bfb3;
  color: #ffffff;
  cursor: pointer;
}

.container_find_id {
  height: 800px;
  background: #f6f5f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_find_id {
  // width: 100%;
  height: 100%;
  padding: 170px 20px;
  // padding-top: 170px;
  box-sizing: border-box;
}

.header_find_id {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 160px;
  height: 100px;
  font-size: 50px;
  font-weight: 700;
  color: #162318;
}

.header_text_find_id {
  text-align: center;
  margin-bottom: 50px;
}

.inp_find_id {
  width: 450px;
  height: 35px;
  margin-left: 20px;
  range: 15px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
}

.content_id_result {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: auto;
  width: 700px;
}

.section_id_result {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 500px;
  // width: 100%;
  // height: 76px;
  background: #ffffff;
  padding: 100px;
  border-radius: 15px;
  padding: 76px;
  // margin-bottom: 10px;
}

.inp_id_result {
  text-align: center;
  padding: 16px 0;
  box-sizing: border-box;
  font-size: 18px;
}

.id_result {
  font-weight: bold;
}

.btn_id_result {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 500px;
  height: 52px;
  border-radius: 15px;
  background: #203d1e;
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 18px;
  cursor: pointer;
}

.container_pw_reset {
  height: 100%;
  background: #f6f5f1;
}

.wrap_pw_reset {
  height: 100%;
  padding: 170px 20px;
  box-sizing: border-box;
}

.header_pw_reset {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 50px;
  font-weight: 700;
  color: #162318;
}

.header_text_pw_reset {
  text-align: center;
  margin-bottom: 50px;
}

.section_pw_reset {
  margin: auto;
  width: 700px;
}

.box_input_pw_reset {
  display: flex;
  align-items: center;
  // justify-content: center;
  // width: 800px;
  width: 100%;
  height: 50px;
  border: 1px solid #203d1e;
  border-radius: 15px;
}

.box_pw_result {
  background: #ffffff;
  border-radius: 15px;
  padding: 76px;
}

.box_inp_pw_reset {
}

.content_pw_reset {
  margin: 10px 0;
}

.inp_pw_reset {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 15px;
  padding-left: 10px;
  box-sizing: border-box;
}

.btn_pw_reset {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 500px;
  height: 52px;
  border-radius: 15px;
  background: #203d1e;
  color: #ffffff;
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}
